{% extends "base.html" %}

{% block title %}Daily Plans{% endblock %}

{% block content %}
    <h3>Daily Plans</h3>

    <p>
        {% if show_all %}
            <a href="{% url 'daily_plan_list' %}">Active only</a> | All
        {% else %}
            Active only | <a href="{% url 'daily_plan_list' %}?show=all">All</a>
        {% endif %}
    </p>

    <ul>
        <li><a href="{% url 'daily_plan_create' %}">New Plan</a></li>

    {% if plans %}
        {% for plan in plans %}
            <li>
                {% if plan.date == today %}
                    <strong>TODAY - {{ plan.date|date:"l, F j, Y" }}:</strong>
                {% else %}
                    {{ plan.date|date:"l, F j, Y" }}:
                {% endif %}
                    <a href="{% url 'daily_plan_view' plan.date.year plan.date.month plan.date.day %}">view,</a>
                    <a href="{% url 'daily_plan_edit' plan.date.year plan.date.month plan.date.day %}">edit,</a>
                    {% if show_all %}
                        <a href="{% url 'daily_plan_toggle_active' plan.date.year plan.date.month plan.date.day %}?show=all">{% if plan.active %}deactivate{% else %}activate{% endif %}</a>
                        ({% if plan.active %}Active{% else %}Inactive{% endif %})
                    {% else %}
                        <a href="{% url 'daily_plan_toggle_active' plan.date.year plan.date.month plan.date.day %}">{% if plan.active %}deactivate{% else %}activate{% endif %}</a>
                    {% endif %}
            </li>
        {% endfor %}
    {% endif %}

    </ul>
{% endblock %}