{% load static %}

<html>
<head>
  <title>Ideal Day Template Summary</title>
  <link rel="stylesheet" type="text/css" href="{% static 'timsy.css' %}">
</head>
<body>
<h3>{{ template.name }}</h3>

    <table border="1">
        <tr>
            <th>Category</th>
            {% for place in places %}
              <th>{{ place }}</th>
            {% endfor %}
            <th>Total</th>
        </tr>

        {% for record in records %}

        <tr>
          <td>{{ record.description }}</td>
            <td class='timestamp'>{{record.get_times|join:"</td><td class='timestamp'>" }}</td>
        </tr>
        
        {% endfor %}

    </table>
</body>
</html>