<html>
<head>
<title>Ideal Day Template</title>
</head>
<body>
<h3>Ideal Day Template: {{ name }}</h3>

    <table border="1">
        <tr>
            <th>Start</th>
            <th>Duration</th>
            <th>Place</th>
            <th>Abbreviation</th>
            <th>Activity</th>
            <th>Parent</th>
            <th>Importance</th>
            <th>Urgency</th>
        </tr>

        {% load timsy_extras %}

        {% for record in records %}

        <tr>
            <td>{{ record.start|time_string}}</td>

            <td>{{ record.duration|timedelta_string }}</td>
            
            <td>{{ record.place.abbreviation }}</td>

            {% if record.activity.abbreviation %}
              <td>{{ record.activity.abbreviation }}</td>
            {% else %}
              <td> -- </td>
            {% endif %}

            <td>{{ record.activity.description }}</td>

            <td>{{ record.activity.parent }}</td>

            <td>{{ record.activity.importance }}</td>

            <td>{{ record.activity.urgency }}</td>

        </tr>
        
        {% endfor %}
 
    </table>
</body>
</html>