<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ideal Day Templates</title>
</head>
<body>
    <h3>Ideal Day Templates</h3>
    <ul>
        {% for template in records %}
        <li>{{ template.name }}:
            <a href="/timsy/data/ideal_day_templates/view/{{ template.id }}/">view</a>,
            <a href="/timsy/data/ideal_day_templates/edit/{{ template.id }}/">edit</a>,
            <a href="/timsy/data/ideal_day_templates/summary/{{ template.id }}/">summary</a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>
