<html>
<head>
  <title>Timsy</title>
</head>
<body>
  <h4>Data Entry Forms</h4>
  <ul>
    <li><a href="/timsy/data/log/">Enter the time log</a></li>
    <li><a href="/timsy/data/idts/">Ideal day templates</a></li>
  </ul>
  <h4>Reports</h4>
  <ul>
    <li><a href="/timsy/reports/log/latest/">View the latest activity log</a></li>
    <li><a href="/timsy/reports/summary/daily/latest/">View the latest daily summary report</a></li>
    <li><a href="/timsy/reports/summary/daily_week_breakdown/latest/">View the latest week's daily breakdown report</a></li>
    <li><a href="/timsy/reports/summary/weekly/latest/">View the latest weekly summary report</a></li>
    <li><a href="/timsy/reports/summary/my_weekly/latest/">View the latest summary report for the week starting Saturday</a></li>
    <li><a href="/timsy/reports/summary/monthly/latest/">View the latest monthly summary report</a></li>
    <li><a href="/timsy/reports/log/2009/08/31/">View the first activity log (August 31, 2009)</a></li>
    <li><a href="/timsy/reports/summary/weekly/ALL/2009/08/31/">View the first weekly summary report (the week of August 31, 2009)</a></li>
    <li><a href="/timsy/reports/summary/monthly/ALL/2009/08/31/">View the first monthly summary report (the month of August 2009, one day only)</a></li>
  </ul>
  <h4>AJAX Requests</h4>
  <ul>
    <li><a href="/timsy/requests/last/">View the last activity</a></li>
    <li><a href="/timsy/requests/activity/tmd/">View "daily time use log" activity</a></li>
  </ul>
</body>
</html>
